<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>通用菜单类型</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/static/css/bootstrap.min.css}"/>


</head>
<body>


<form class="form-horizontal" id="defaultForm" role="form">
    <div class="container">
        <div class="row" style="padding: 20px 0">
            <h3>通用二级菜单新增</h3>
        </div>
        <div class="row left-arrow">
            <div class="form-group">
                <label for="name" class="col-sm-1 control-label">名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="name" id="name" th:value="${ct.name}" placeholder="请输入名称">
                </div>
            </div>
            <div class="form-group">
                <label for="sorts" class="col-sm-1 control-label">排序</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="sorts" id="sorts" th:value="${ct.sorts}"
                           placeholder="请输入排序数字">
                </div>
            </div>

            <div class="form-group">
                <label for="constant" class="col-sm-1 control-label">菜单</label>
                <div class="col-sm-8">
                    <select name="constant" id="constant" class="form-control">
                        <option th:each="item,iterStat : ${navs}" th:value="${item.key}" th:selected="${item.key == ct.constant}" th:text="${item.value}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 text-right">
                    <input type="button" class="btn btn-default" id="toSubmit" value="提交" />
                </div>
            </div>
        </div>
    </div>
</form>

</body>
<!-- put the scripts below -->
<script src="../static/js/jquery-2.1.4.min.js"
        th:src="@{/static/js/jquery-2.1.4.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
        th:src="@{/static/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="/static/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/common.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var fir = new ZouhsFir();
        $('#defaultForm').bootstrapValidator({
            message: '填写值无效',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: '请填写名称',
                    validators: {
                        notEmpty: {
                            message: '请填写名称'
                        }
                    },
                },
                sorts: {
                    validators: {
                        notEmpty: {
                            message: '请输入排序'
                        }
                    },
                },
            }
        });

        $("#defaultForm").submit(function (ev) {
            ev.preventDefault();
        });
        $("#toSubmit").on("click", function () {
            var toLogin = $(this);
            var bootstrapValidator = $("#defaultForm").data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                fir.getData("/comType/save", $("#defaultForm").serialize(), function (data) {
                    if (data.code === "0") {
                        window.location.href = fir.projectUrl + "comType/list";
                    }else{
                        fir.alert(data.msg);
                        //toLogin.attr("disabled",null);
                    }
                })
            } else {
                return;
            }
        });
    });
</script>
</body>
</html>