<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>通用菜单类型</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/static/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="/static/js/layui/css/layui.css"  media="all">

</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form class="form-inline" id="defaultForm" action="/comType/list" >
                <input type="hidden" id="pageSize" th:value="${pager.pageSize}" name="pageSize" />
                <input type="hidden" id="pageNo" th:value="${pager.pageNo}" name="pageNo" />
                <input type="hidden" id="totalRecords" th:value="${pager.totalRecords}" name="totalRecords" />
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">名称：</label>
                        <input id="txtTitle" type="text" class="form-control">
                    </div>
                </div>

                <div class="row text-right" style="margin-top:20px;">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="button" value="新增" onclick="add()">
                        <input class="btn btn-primary" type="button" value="查询" onclick="search()">
                    </div>
                </div>


            <table class="table table-hover"  style="margin-top:10px;">
                <thead>
                <tr>
                    <th></th>
                    <th>通用菜单名称</th>
                    <th>上级菜单</th>
                    <th>排序</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iterStat :  ${pager.result}" >
                    <td><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                    <td th:text="${item.name}" ></td>
                    <td th:text="${item.constantName}" ></td>
                    <td th:text="${item.sorts}" ></td>
                    <td th:text="${item.createTimeStr}" ></td>
                    <td><a href="javascript:;" th:onclick="'javascript:edit('+${item.id}+');'" >编辑</a></td>
                </tr>

                </tbody>


            </table>
            <div id="pagerId"></div>
            </form>
        </div>
    </div>


</div>

</body>

<!-- put the scripts below -->
<script src="../static/js/jquery-2.1.4.min.js"
        th:src="@{/static/js/jquery-2.1.4.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
        th:src="@{/static/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="/static/js/layui/layui.js"></script>
<script type="text/javascript" src="/static/common.js"></script>
</body>
<script type="text/javascript">
    function add(){
        window.location.href = "/comType/edit";
    }

    function edit(id) {
        window.location.href = "/comType/edit?id="+id;
    }

    //分页form表单的id一定要写#defaultForm
    var fir = new ZouhsFir();
    fir.pagers(1);

</script>
</html>