<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <meta charset="utf-8"/>
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/blog/home.css"
          th:href="@{/static/css/blog/home.css}"/>

</head>

<body screen_capture_injected="true">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="color: white" href="#">碟滋味官网后台管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               <!-- <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>-->
                <li><a href="login-out">退出登录</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
<!-- 导航条 -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="#" onclick="menuClick('/comType/list')" >通用二级菜单</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">菜品管理</a></li>
                <li><a href="#">新闻中心</a></li>
                <li><a href="#">客服中心</a></li>
                <li><a href="#">加盟连锁</a></li>
                <!--<li><a href="#">Export</a></li>
                <li><a href="#">Export</a></li>
                <li><a href="#">Export</a></li>
                <li><a href="#">Export</a></li>
                <li><a href="#">Export</a></li>
                <li><a href="#">Export</a></li>-->
            </ul>
        </div><!-- 左侧菜单栏 -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-4by3">
                <iframe id="iframeId" name="iframeName" class="embed-responsive-item" src="http://www.baidu.com/"></iframe>
            </div>
        </div>
    </div>
</div><!-- 左侧菜单栏和main内容 -->

<!-- put the scripts below -->
<script src="../static/js/jquery-2.1.4.min.js"
        th:src="@{/static/js/jquery-2.1.4.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
        th:src="@{/static/js/bootstrap.min.js}"></script>
</body>
<script type="text/javascript">

    $(function() {
        var height=document.documentElement.clientHeight;
        document.getElementById('iframeId').style.height=height+'px';
    });
    var menuClick = function(menuUrl) {
        $("#iframeId").attr('src',menuUrl);
    };

    $(".nav-sidebar li").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
        $(this).find("a").append('<span class=\"sr-only\">(current)</span>').siblings().find("span").remove();
    })

</script>
</html>