<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Panax-Blog博客</title>

    <!-- Bootstrap -->
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../../static/css/index/vendor.min.css" rel="stylesheet"
          th:href="@{/static/css/index/vendor.min.css}"/>
    <link rel="stylesheet" href="../../static/css/index/index.min.css"
          th:href="@{/static/css/index/index.min.css}"/>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="container">
    <div class="row justify-content-between">
        <div class="col-auto logo align-items-center">
            <img src="http://cloudresource-1251063063.file.myqcloud.com/officialweb-v2/assets/logo.png"
                 alt="YoMail邮件客户端">
        </div>
        <div class="col-auto align-items-center">
            <nav class="navbar">
                <ul>
                    <li class="active">
                        <a href="http://www.yomail.com/">首页</a>
                    </li>
                    <li>
                        <a href="http://www.yomail.com/download/">下载</a>
                    </li>
                    <li>
                        <a href="http://www.yomail.com/membership/">会员</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.yomail.com/community/" blank="_target">社区</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.yomail.com/blog/" blank="_target">博客</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    <section class="container-fluid intro">
        <div class="row justify-content-center">
            <h1 class="col-12 font-normal content-center" id="title-text">Many things are like thinking too much and doing too little.</h1>
            <div class="w-100"></div>
            <h2 class="col-12 font-normal content-center" id="sub-title-text">我想心甘情愿地为一些事情画上句号，它们兜兜转转却最终无疾而终，我只是感慨而已，不存在后不后悔之说的。我想心甘情愿地为一些事情画上句号，它们兜兜转转却最终无疾而终，我只是感慨而已，不存在后不后悔之说的。</h2>
        </div>
        <div id="intro-slider" class="row justify-content-center bg-1">
            <!--<ol class="col-auto indicator">
                <li class=""></li>
                <li class="active"></li>
                <li class=""></li>
            </ol>
            <div class="w-100"></div>
            <div class="col-auto intro-pic block">
                <img src="http://cloudresource-1251063063.file.myqcloud.com/officialweb-v2/assets/p2.png" id="intro-pic"
                     class="img-fluid fadein" alt="p1">
            </div>-->
        </div>
    </section>
</main>


</body>
</html>